/* Extra small devices (phones, 600px and down) */
#dashboard-icon {
    display: none;
}

#menu-img {
    display: none;
}

#menu-img-mobile {
    display: block;
    position: fixed;
    left: 12px;
    top: 10px;
}

#menu-img-tablet {
    display: none;
}

#menu-img-big svg {
    display: none;
}

#menu-img-big-tablet svg {
    display: none;
}

#sidebar-mobile {
    display: none;
    position: fixed;
    background-color: rgb(56, 104, 143);
    top: 60px;
    left: 0;
    width: 200px;
    height: 100%;
    transition: .5s;
    text-align: center;
    color: white;
    overflow: auto;
}

#sidebar-mobile {
    list-style-type: none;
}

#sidebar-mobile ul li {
    padding: 5%;
    text-align: left;
    margin-left: 1%;
}

#sidebar-mobile ul li a {
    color: white;
    padding: 10%;
    text-decoration: none;
}


#plzlogo {
    position: fixed;
    left: 55px;
    top: 8px;
    width: 100%;
}

#sidebar-min {
    display: none;
    margin: 0;
    padding: 0;
}

#grid-container-title {
    text-align: left;
    margin-top: 100px;
    margin-bottom: -50px;
    margin-left: 7%;
    font-size: 2em;
    color: darkgray;
}

.grid-container {
    display: block;
    grid-gap: 50px 100px;
    /* border: 1px solid #7C838A; */
    margin: 20% 5%;
    padding: 1%;
}

.mainTable {
    display: block;
    /* border: 2px solid red; */
    justify-content: space-evenly;
}

.dashboard-content {
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    background: rgb(50, 54, 58);
    min-width: 15%;
    min-height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5% 2%;
    z-index: 1;
}

dashboard-content ul {
    list-style-type: none;
    margin: 2%;
    padding: 1%;
}

#dashboard-icon-big {
    top: 10px;
    left: 12px;
}